<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<array>
		<string></string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>Artboard 1@1x</string>
			<key>CFBundleURLName</key>
			<string>com.rf.BI-Bill-Split</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>billsplit</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>venmo</string>
		<string>sms</string>
	</array>
	<key>OPENAI_API_KEY</key>
	<string>$(OPENAI_API_KEY)</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Bill Splitter uses your local network to sync the bill in real time with nearby devices running the same app.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_bi-billsplit._tcp</string>
		<string>_bi-billsplit._udp</string>
	</array>
</dict>
</plist>
